<ng-container [formGroup]="bookForm" class="p-fluid grid">
  <div class="col-12 md:col-6">
    <label for="name">Name</label>
    <input 
      id="name" 
      pInputText 
      type="text" 
      formControlName="name" 
      data-testid="fname" 
      class="p-inputtext p-component" 
    />
  </div>

  <div class="col-12 md:col-6">
    <label for="price">Price</label>
    <input 
      id="price" 
      pInputText 
      type="number" 
      formControlName="price" 
      data-testid="fprice" 
      class="p-inputtext p-component" 
    />
  </div>

  <div class="col-12 md:col-6">
    <label for="page">Page</label>
    <input 
      id="page" 
      pInputText 
      type="number" 
      formControlName="page" 
      data-testid="fpage" 
      class="p-inputtext p-component" 
    />
  </div>
</ng-container>