<ng-container [formGroup]="bookForm">
    <br class="card flex flex-column md:flex-row gap-3">
      <p-inputGroup class="small-input" >
          <p-inputGroupAddon >
              <i class="pi pi-user"></i>
          </p-inputGroupAddon>
          <input pInputText placeholder="Name" formControlName="name" data-testid="fname"  class="small-input"/>
      </p-inputGroup>
      <p-inputGroup class="small-input">
          <p-inputGroupAddon >$</p-inputGroupAddon>
          <input type="number" pInputText placeholder="Price"  formControlName="price" data-testid="fprice"/>
          <p-inputGroupAddon >.00</p-inputGroupAddon>
      </p-inputGroup>
      <p-inputGroup class="small-input">
          <p-inputGroupAddon>Page</p-inputGroupAddon>
          <input type="number" pInputText placeholder="Page"  formControlName="page" data-testid="fpage"  />
      </p-inputGroup>
    </ng-container>